{{> documents/docheader}}
<h2 class="dsp_title">{{title}}</h2>

{{#not_available}}
    <div class="not_available">{{not_available}}</div>
{{/not_available}}

{{#obm_id}}

    <table style="width: 100%" class='pure-table pure-table-striped attributes'>
        <colgroup>
            <col span="1" >
            <col span="1" style="width: 70%;">
        </colgroup>
        {{#attributes}}
            <tr>
                <td style="width: 30%;">{{label}}</td>
                <td style="width: 70%;">{{{value}}}</td>
            </tr>
            {{#thumbnails}}
                <tr>
                    <td colspan="2" style="text-align: center">{{{thumbnails}}}</td>
                </tr>
            {{/thumbnails}}
        {{/attributes}}
    </table>

    {{#joined_data.has_joined_data}}
        <h2>{{t.str_joined_data}}</h2>
    {{/joined_data.has_joined_data}}
    {{#joined_data.data}}
        <div class="dsp_section">
            <h3>{{joined_table}}</h3>
            <table class='pure-table pure-table-horizontal'>
                <thead>
                    <tr>
                        {{#columns}}
                            <th>{{ . }}</th>
                        {{/columns}}
                    </tr>
                </thead>
                <tbody>
                    {{#data}}
                        <tr>
                            {{#row}}
                                <td>{{{.}}}</td>
                            {{/row}}
                        </tr>
                    {{/data}}
                </tbody>
            </table>
        </div>
    {{/joined_data.data}}
    {{#header}}
        <h2>{{t.str_header_information}}</h2>
        <div id="header_information" class="dsp_section">
            {{t.str_uploader}}: {{{uploader_name}}} [<a href="{{url}}/upload/history/{{uploading_id}}/" target="_blank">{{uploading_id}}</a>] {{uploading_date}}<br>
            {{t.str_changes}}: [<a href="{{url}}/data/{{sheet_table}}/{{obm_id}}/history/" target="_blank">{{last_mod.count}}</a>]<br>
            {{t.str_last_modify}}: {{last_mod.time}} {{{last_mod.link}}}
        </div>
    {{/header}}
{{/obm_id}}
