#bheader {
    margin:0;
    display:flex;
    justify-content:space-between;
    width:100%;
    height:auto;
    padding:0;
    /*line-height:1em;*/
    border-bottom:1px solid #acacac;
    box-shadow: 0 3px 8px rgba(0,0,0,.24);
    background-color:#fafafa;
    z-index:1099;
    min-width:300px;
    position:fixed;
    /*transition: 0.2s;*/
}
#bheader .left {
    display: flex;
    align-items:end;
    width:100%;
}
#bheader .right {
    width: fit-content;
}
/**/
#bheader .htitle {
    width: 100%;
}
#bheader .htitle_small {
    padding:0px 0 0px 5px;
}

#bheader .htitle p {
    font-family:georgia;
    letter-spacing:1px;
    color:#9FC651;
    margin:0;
    background: -moz-linear-gradient(left, rgba(250,250,250,1) 0%, rgba(250,250,250,0.35) 65%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(250,250,250,1) 0%,rgba(250,250,250,0.35) 65%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(250,250,250,1) 0%,rgba(250,250,250,0.65) 35%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#00000000',GradientType=1 );
}
#bheader .main-logo-img {
    padding-right:5px;
    max-height:50px;
    height:50px;
}
#bheader .logo-img_small {
    max-height:30px;
    height:30px;
}
.main-logo-text {
    vertical-align:middle;
    padding-left:10px
}
#maintenance {
 color:darkred;
 text-align:center;
 font-weight:bold
}
#header-unread-envelope {
    position:relative;
    span {
        position: absolute;
        right: 0;
        z-index: 1;height:16px;
        display:inline-block;
        color: white;
        top: 20px;
        border-radius: 8px;
        padding: 1px 5px;
        background: var(--primary-color);
        font-size: 11px;
        line-height: 12px;
        font-weight: 600;
    }
}
#avatar {
    vertical-align:top;
    margin-top:-10px;
    border:1px dashed #dadada;
    border-radius:8px;
}
#header-menu-user-name {
    font-weight:bold;
    border-bottom: 1px solid lightgray;
    text-align: center;
    span {
        line-height: 3rem;
    }
}
.lightgray-bottom-border {
    border-bottom: 1px solid lightgray;
}
/* bheader */
/*span.ht {
    font-weight:bold;
}
span.ht:hover {
    color:#efefef;
}*/

/* Mobile device specific */
@media only screen and (hover: none) and (pointer: coarse) {
}

@media only screen and (max-device-width: 600px)  {
    #bheader {
    }
    .htitle {
        display:none;
    }
    .topnav {
        padding:0;
    }
    ul.topnav li {
	padding: 0 5px 5px 0;
    }
    .main-logo-img {
        display:none;
    }
}

@media only screen and (min-device-width: 600px)  {
    #bheader {
    }
    .htitle {
        display:none;
    }
    .topnav {
        padding:0;
    }
    ul.topnav li {
	padding: 0 5px 5px 0;
    }
    .main-logo-img {
        display:none;
    }
}
@media only screen and (min-device-width: 900px)  {
    #bheader {
    }
    .htitle {
        display:inline;
    }
    .topnav {
        padding:10px;
    }
    ul.topnav li {
	padding: 0 5px 5px 0;
    }
    .main-logo-img {
        display:inline;
    }
}
@media only screen and (min-device-width: 1200px)   {
    #bheader {
    }
    .htitle {
        display:inline;
    }
    .topnav {
        padding:10px;
    }
    ul.topnav li {
	padding: 0 5px 0 0;
    }
    .main-logo-img {
        display:inline;
    }
}

