#citelist,
#specieslist {
    margin-top: 20px;
    width:800px;
}
#citelist-toggle i,
#specieslist-toggle i {
    color: rgb(66, 184, 221);
    padding-right: 10px;
}

#citelist-toggle,
#specieslist-toggle {
    cursor: pointer;
}

#citelist-content p {  
    margin-top: 20px;
    font-style:italic;
}

#specieslist-content p {
    margin-top: 20px;
    font-style:italic;
    columns:100px 3;
    -webkit-columns:100px 3; /* Safari and Chrome */
}

.specieslist-summary ul {
  display: flex;
  padding: 0;
}
.specieslist-summary li {
  list-style-type: none;
  padding-left: 7px;
  display: flex;
}
.specieslist-summary label {
  margin: 0 5px;
}

.specieslist-table {
    border-collapse: separate;
    border-spacing: 1px;
    margin-right: 17px;
}
.specieslist-table th {
    background-color: #a7a7a7;
}
.specieslist-table .species-name {
    white-space:nowrap;
    background-color: white;
    text-align: left;
}
.specieslist-table td {
    background-color: #dadada;
    text-align: center;
}
.specieslist-table th,
.specieslist-table td {
    padding: 1px 2px;
}
.specieslist-table i {
    cursor: pointer;
}
#specieslist-tables {
    display: flex;
}
#specieslist-tables,
#specieslist-order {
  margin-bottom: 10px;
}