.ui-autocomplete-loading {
  background: white url("../images/ui-anim_basic_16x16.gif") right center no-repeat;
}

#mapfilters input[type='text'] {
    width:100%;
}

.divInput button {
    float: right;
}

#period-of-year-slider {
  margin: 10px 20px;
}
