<form style='background-color:#ccc'>

    <div style='font-size:1.6rem'>{{t.str_signin}}</div>
    <br>
    <span style='font-weight:bold'>{{t.str_email}}:</span>
    <div class='input-group' style='margin-bottom:1em'>
        <span class='input-group-addon'><i class='fa fa-envelope-o fa-fw fa-lg'></i></span>
        <input class='form-control' type='text' placeholder='{{t.str_email}}' name='loginname' style='font-size:115%'>
    </div>

    <span style='font-weight:bold;'>{{t.str_password}}:</span>
    <div class='input-group' style='margin-bottom:1em'>
        <span class='input-group-addon'><i class='fa fa-key fa-fw fa-lg'></i></span>
        <input class='form-control' type='password' name='loginpass' style='font-size:115%'>
    </div>
    <br>
    <button type='submit' class='button-success button-xlarge pure-button' id='reauth'>
        <i class='fa fa-sign-in'></i> {{t.str_enter}}
    </button>
</form>