
/* ring-box*/
.leftrightlabel {
    position:absolute;
    top:40%;
    font-weight:bold;
    font-size:150%;
}
#leftlabel{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    left:0;
    letter-spacing:2px;
}
#rightlabel {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    right:40px;
    letter-spacing:2px;
}
#rotate {
    position:absolute;
    top:60%;
    right:5px;
    padding:15px 0px 15px 0px;
}
.fa-rotation {
    -webkit-transition: -webkit-transform .8s ease-in-out !important;
    transition: transform .8s ease-in-out !important;
}
.fa-rotation:hover {
  -webkit-transform: rotate(180deg) !important;
          transform: rotate(180deg) !important;
}
.ring-drop-highlight {
    border:1px solid #606060;
    box-shadow:none !important;
    -webkit-box-shadow:none !important;
    background: repeating-linear-gradient(
        45deg,
        #909090,
        #909090 3px,
        #707070 3px,
        #707070 6px);
    -webkit-background: repeating-linear-gradient(
        45deg,
        #9a9a9a,
        #9a9a9a 5px,
        #808080 5px,
        #808080 10px);
}
.ring-box {
    height:40px;
    padding:0;
    margin:0;
}
.ring-box input {
    background-color:transparent;
    padding:0;
    margin:0;
    font-family:times;
    border:none;
    color:white;
}
.ring-box li {
    width:39px;
    height:40px;
    border-right:1px solid white;
    float:left;
    padding:2px;
    margin:0;
    font-size:20px;
    text-align:center;
    cursor:move;
}
.ring-position {
    min-height:35px;
    height:auto;
    padding:0;
    margin:0;
    width:61px;
    border:1px dashed gray;
    border-radius:6px;
}
.ring-position input {
    background-color:transparent;
    padding:0;
    margin:0;
    font-family:times;
    border:none;
    color:white;
}
#ring-text {
    color:black;
    /*text-shadow: 1px 1px 4px rgba(120, 120, 120, 1);*/
    /*text-shadow: 0px -1px 0px rgba(255,255,255,.5);*/
    text-shadow: 0px 1px 0px rgba(0,0,0,.5);
    font-size:150%;
    border:1px solid #afafaf;
    font-weight:bold;
    font-family:times;
    letter-spacing:2px;
    border-radius:3px;
}
.ring-position li {
    /*text-shadow: 1px 1px 4px rgba(120, 120, 120, 1);*/
    text-shadow: 0px 1px 0px rgba(0,0,0,.5);
    font-weight:bold;
    padding-top:9px;
    width:61px;
    height:35px;
    margin: 1px;
    text-align:center;
    border-radius:33px/5px;
    font-family:times;
    font-size:120%;
    position:relative;
    margin-top:-7px;
}
.ring-position, .ring-box, .ring-box-labels { list-style-type: none; }

#leg-right-top {
    position:absolute;
    right:140px;
    bottom:365px;
}
#leg-right-top li {
    -webkit-box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.55);
    box-shadow: -2px -5px 5px 0px rgba(0,0,0,0.55);
    background: url(../images/ringbg3.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color:rgb(255,255,255);
    background-color:rgba(255,255,255,0.6);
}
#leg-left-top {
    position:absolute;
    left:110px;
    bottom:365px;
}
#leg-left-top li {
    -webkit-box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.55);
    box-shadow: 2px -5px 5px 0px rgba(0,0,0,0.55);
    background: url(../images/ringbg3.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color:rgb(255,255,255);
    background-color:rgba(255,255,255,0.6);

}
#leg-right-bottom {
    position:absolute;
    right:105px;
    bottom:150px;
}
#leg-right-bottom li {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.55);
    box-shadow: -2px 5px 5px 0px rgba(0,0,0,0.55);
    background: url(../images/ringbg3.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color:rgb(255,255,255);
    background-color:rgba(255,255,255,0.6);

}
#leg-left-bottom {
    position:absolute;
    left:85px;
    bottom:150px;
}
#leg-left-bottom li {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.55);
    box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.55);
    background: url(../images/ringbg3.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color:rgb(255,255,255);
    background-color:rgba(255,255,255,0.6);

}
#colourringdiv {
    display:none;
    position:absolute;
    top:20px;
    left:10px;
    background-color:white;
    border:1px solid #acacac;
    z-index:1100;
    width:400px;
    padding:5px;
    box-shadow:0px 3px 8px rgba(0,0,0,0.24);
    border-bottom:3px solid #b3cee6;
}
#legbox {
    background-image:url(../images/bird_leg_sw.png);
    background-repeat:no-repeat;
    background-position:left -75px;
    height:480px;
}
.left, .right {
    width:50%;
}
.left {
    left:0
}
.right {
    right:0;
}
/* ring-box END */
