<h1>Terms and Conditions for OpenBioMaps services</h1>
The General Terms and Conditions of Service ("TC") contain the general terms and conditions for the use of the data storage and service system operated by OpenBioMaps as a service provider ("Service Provider"). Please only use our services if you agree with all of its points and consider yourself bound by them. This document is not filed, is concluded in electronic form only (it does not constitute a written contract) and does not refer to a code of conduct. The TC can be downloaded from the following link: http://openbiomaps.org/OBM_aszf_en.pdf.<br>


<br>
<h3>The aim of OpenBioMaps</h3>
OpenBioMaps aims to record, publish and make available for further use occurrence and related data (Data) on living organisms (of conservation importance or useful for biodiversity research) in a non-public way, based on the voluntary collection of community knowledge.<br>
Another explicit goal of OpenBioMaps is to support higher education through the open use and development of OpenBioMaps applications and data content.<br>
The explicit aim of OpenBioMaps is to provide data to registered users in such a way that it can be used in web and desktop applications via the Internet.<br>


<br>
<h3>The OpenBioMaps System</h3>
OpenBioMaps is a data management platform based on open source applications, each instance of which is essentially independent of the others. Each instance of the standalone service servers forms a decentralised network with optional connections to some of its services.<br>
The OpenBioMaps-based servers can be operated as a closed community or as a public service available to anyone. The use of each server is regulated depending on the operator of the server.<br>
Each OpenBioMaps server consists of independently operated databases without central control, each with its own user community and its own user and data usage policies.<br>
The primary target audience of OpenBioMaps is the natural science and conservation professions, as well as those preparing plans, strategies and decisions affecting the environment.<br>
OpenBioMaps is a community data management tool based on voluntary participation, which relies on users accepting and affirming full data publicity, and therefore assumes no responsibility for explicitly ensuring copyright and data protection. The explicit principle of the system is openness to a wide variety of biodiversity data and to connectivity with other databases.<br>

<br>
<h3>The OpenBioMaps Service and Provider</h3>
The OpenBioMaps service is a public service implemented with OpenBioMaps tools on servers operated by partners of the OpenBioMaps Consortium. All OpenBioMaps services are available free of charge.<br>

Provider of a public service based on the OpenBioMaps platform:<br>
<br>
Name: OpenBioMaps Consortium<br>
University of Debrecen, 4032 Debrecen Egyetem tér. 1.<br>
Electronic mail address: management __at__ openbiomaps.org<br>

<br>
<h4>Basic provisions applicable to the Service</h4>
1.The issues not regulated in these Rules and the interpretation of these Rules shall be governed by Hungarian law, in particular with regard to the relevant provisions of Act V of 2013 on the Civil Code ("Civil Code") and Act CV III of 2001 on certain issues of electronic commerce services and information society services. The mandatory provisions of the relevant legislation shall apply to the parties without any specific stipulation.<br>
2. OpenBioMaps reserves the right to unilaterally modify these GTC Rules by giving prior notice to the users. The user accepts the amended Privacy Policy by logging in for the first time after the amendment comes into force.<br>
3. The OpenBioMaps name and logo are copyrighted works, protected by copyright.<br>

<br>
<h4>Privacy rules</h4>
See: <a href='https://openbiomaps.org/privacy/'>OpenBioMaps Privacy Policy (PP)</a>. The PP can be downloaded from the following link: http://openbiomaps.org/OBM_at_en.pdf.<br>

<br>
<h4>Scope of OpenBioMaps services</h4>
1. Establish and maintain databases for biodiversity data.<br>
2. To make the databases and related services (e.g. mapping) publicly available.<br>
3. Making the databases and related services available to a closed community.<br>
Provision of the content of the databases also to software tools (intergrability, automatic processing).<br>
5. Provision of data collection, management and analysis tools for each database.<br>

<br>
<h4>Definitions</h4>
1. User: Registered users (natural or legal persons) who accept the Terms of Use and log in with a user ID to use the OpenBioMaps services.<br>
2. Visitor: Unregistered users who use OpenBioMaps services.<br>
3. Data Provider: Users who upload data in OpenBioMaps databases.<br>
4. Anonymous Data Provider: Visitors who upload data without logging in to databases where this is allowed.<br>
5. Data: occurrence and associated data record for living organisms (of conservation importance or useful for biodiversity research). Usually a single row in a data table with basic attributes such as what, where, how much and by whom observed, but may have more complex or significantly different attributes. <br>
6. Database operator: a natural or legal person designated as the operator of a database (also known as a database project) created by a user.<br>
7. Data owner: the natural or legal person who holds the rights to the digital data by including it. This right may be affected if the data is derived from another (presumably non-digital) intellectual product.<br>
8. Database project: databases (projects) created by users.<br>
9. Stable database: a database project that meets the OpenBioMaps objectives and in which no fundamental changes to the operation of the database are made. Stable Databases may request a DataCITE (http://www.datacite.org/) DOI identifier and may have their descriptive metadata deposited in an independent metadata base.<br>
10. Test database: databases whose basic mode of operation has been structured and whose design is no longer subject to significant changes, but whose configuration of some of its functions and features is still under development.<br>
11. Experimental database: The basic state of newly created databases, indicating that the structural design and basic regulatory settings are in the process of being made.<br>
12. Metadata: Descriptive data of the Data. Metadata can be specified when creating databases and individual tables and individual table fields. These metadata are those that contain the descriptions of each table or each field. Metadata may also be provided at each data upload.<br>
All Stable Databases must contain at least database and table level metadata, preferably with fields mapped to the DarwinCore metadata schema.<br>
13. Validity: The degree of validity of the data in OpenBioMaps databases, which is an indicative value of how much and with what rating the data has been validated. The validity of a Data without further validation is given by the degree of validity of the uploader and upload.<br>

<br>
<h4>General provisions on uploaded data</h4>
1. You use the Data at your own risk, and the quality or completeness of the Data is not guaranteed by the operators of the OpenBioMaps service. The operators of the OpenBioMaps service accept no liability for the content of the data or for any damage caused by incorrect data.<br>
2. The User acknowledges that the data uploaded here (if uploaded to a public database) may be freely copied, distributed, presented, performed (including processing), used for commercial purposes and communicated by other users.<br>
3. The User acknowledges that the ownership of the data is inseparable from the author of the data, and therefore, when using the data, the User is obliged to refer to the author and to the OpenBioMaps service.<br>
4. To ensure that the data owner can be identified and referenced, information on the ownership of the data must always be stored with the data. <br>
5. Data uploaded by (anonymous) Data Contributors will be owned by the operator of the relevant database, unless the data contains other references to ownership.<br>

<br>
<h4>Data and User Evaluation</h4>
The use of the evaluation service is optional for each project, its main purpose is to support data quality control tasks.<br>
If this service is available in the database, the data can be evaluated by any User or, if allowed, by any Visitor. Evaluations consist of numerical and optional textual assessment. The ratings for each data are stored as information related to the Data.<br>
Users may also rate each other's professional activities, which may consist of both numerical and text ratings. The ratings are stored as related data to the Users' data. Data uploaded by a User will inherit the User's evaluation rank without any other evaluation.<br>

<br>
<h4>References to the source of the data</h4>
Users and Visitors agree to cite data from OpenBioMaps databases in the following format:<br>
Biodiversity occurrence data published by: (Accessed through OpenBioMaps - The Database, Server, YYYY-MM-DD)<br>
For example:<br>
Biodiversity occurrence data published by: Duna-Ipoly National Park Directorate (Accessed through OpenBioMaps - Danube Fish Database, dinpi.openbiomaps.org, 2012-02-22)<br>

<br>
<h4>Registration</h4>
Registration is by invitation only. Invitations and requests depend on the individual settings of each database. The invitation will be sent by email. Persons who accept the invitation may register. When registering, the User can enter several personal details on the contact form, but the email address is mandatory. The system will store the name, email address and registration date of the user and the email address of the person who sent the invitation. The registration can be cancelled, which will also delete the above data from the user database (for more details, see the privacy statement).<br>

<br>
<h4>Archiving the data</h4>
The servers maintained by the Service Provider maintain a common service for archiving the databases. The archive is daily and is executed automatically on all project tables created by the OpenBioMaps web application. Archiving only applies to sql tables and not to uploaded attachments. Daily backups are stored in the archive for two weeks.<br>

<br><br>
Debrecen, 24 January 2022.
