/* 
 * Basic Typography
 * */
@import url("basic_typography.css");

/* 
 * A colour ring mehetne modulba és akkor ez a css is kikerülne innen... */
@import url("colour-ring-box.css");

/* 
 * photo attachments relaed things
 * */
@import url("attachments_modal.css?rev=2");

/*
 * Buttons, Pure-button extension
 * */
@import url("buttons.css?rev=2");

/* Nem tudom mi
 * */
.link {
    color: #5F65C2;
    background-color: transparent;
    text-decoration:none;
}
.link:hover {
    color: #5C2BBA;
    cursor:pointer;
}

/* Fix modal dialog */
.fix-modal {
    color:#111;
    position:fixed;
    left:25%;
    top:20%;
    display:none;
    background-color:white;
    z-index:1102;
    box-shadow:         0px 0px 20px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    -webkit-border-radius: 2px;
    border:1px solid #cacaca;
    padding:10px;
    width: 50%;
    height: 50%
}
.fix-modal-close {
    position:absolute;
    top:12px;
    right:12px;
}


/*
 * Data-sheet page
 * */
#smallmap-holder {
}
#smallmap-holder .smallmap {
    height:500px;
    width:100%;
}
.attributes {
}

/* Jquery-ui overrides
 *
 * */

.ui-dialog { z-index: 10002 !important ;}
.ui-widget { z-index: 10002 !important ;}

/* borderless table */
.ctable td {
    padding: 2px 4px 2px 0px;
}

.ctable tr td input {
    min-width: 40px;
}
/* editable input fields */
.edbox {
    display:none;
}
/* editable input field: dummy input form */
.edbox-span {
    color:#3a3a3a;
    /*position:absolute;
    bottom:2px;
    z-index:1;*/
    margin:0px;
    background:none;
    padding:1px 2px 0px 2px;
    font-family:monospace;
    line-height:normal;
    min-width:10em;
    /*max-width:400px;
    min-width:300px;*/
    /*white-space:nowrap;*/
    /*overflow:hidden;*/
    display:inline-block;
    vertical-align:bottom;
    cursor:pointer;
    border-bottom:1px dotted #cacaca;
    height: 1.6em;
}
.edbox-span:hover {
    color:#42B8DD;
    background:#eaeaea;
}
.edbox-active {
    color:#6c6c6c;
    border-top:1px solid #999;
    border-left:1px solid #999;
    border-bottom:1px solid #999;
    border-right:1px solid #fff;
    border-top-left-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    width:300px;
    vertical-align:bottom;
}
.edbox-active:focus {
    border:1px solid #42B8DD;
    box-shadow:         0px 0px 2px rgba(58, 87, 207, 0.65);
    -webkit-box-shadow: 0px 0px 2px rgba(58, 87, 207, 0.65);
}
.edbox-done {
    color:#acacac;
    border:1px solid #21AF3F;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    min-width:250px;
    max-width:300px;
}
.edbox-wait {
    color:#e02828;
    border:1px solid #888;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    min-width:250px;
    max-width:300px;
    background-color:#ddd;
}
.edbox-error {
    color:#E02828;
    border:1px solid #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
}
.edbox_send,.edbox_send_profile {
    display:none;
    padding:2px 10px 2px 10px;
}
.edbox-button {
    border-top-left-radius: 0 !important;
    -webkit-border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    -webkit-border-bottom-left-radius: 0 !important;
}
/* results table cell diff color */
.hdiff {
    color:orange;
}
.infotitle {
    border-bottom: 1px #000000 dotted;
    width:700px;
    font-size:0.9rem;
    margin-bottom:10px;
}
#message {
    display:none;
}
.create_project td {
    padding: 3px;
}
.shortdesc {
        padding    : 1em;
        text-align : left;
        width      : 650px;
}
.loginform {
    padding: 20px;
    margin: 0 auto;
    margin-top: 40px;
    max-width:600px;
    background-color:#fafafa;
    background:url('img/texture.webp') 0 0 repeat;
    border:1px solid #acacac;
    border-radius:4px;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 3px 3px 0px rgba(50, 50, 50, 0.75);
}

/* profile.php */
.text-important {
    color: rgb(223, 117, 20);
}
/* Tablinks, dynamic css */
.to-t {
	background: #eaeaea !important;
    border:1px solid #a0a0a0 !important;
}
.to-t a {
    color:white !important;
}
/* Blinking text */
.blink {
  opacity: 0;
  animation: blinking 1s linear infinite;
}
@keyframes blinking {
  from,
  49.9% {
    opacity: 0.5;
  }
  50%,
  to {
    opacity: 1;
  }
}
* {
    box-sizing: border-box;
}
.alert {
    font-size:1.2rem;
    font-weight:normal;
    border: 1px solid #f78f1e;
    padding: 20px;
    width: 400px;
    margin-bottom:100px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0,0,0,.24);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.4);
}
.frame {
    font-size:1.2rem;
    font-weight:normal;
    border: 1px solid #A6BADC;
    padding: 20px;
    width: 400px;
    margin-bottom:20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.4);
}
.infobox {
    white-space: nowrap;
    display:table;
    font-size:1.1rem;
    font-weight:normal;
    border:1px solid #A6BADC;
    padding:15px;
    min-width:300px;
    margin:5px 0 10px 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.4);
}
.shadow {
    text-shadow: 0 3px 8px rgba(100,100,100,1);
    -webkit-text-shadow: 0 3px 8px rgba(100,100,100,1);
    -khtml-text-shadow: 0 3px 8px rgba(100,100,100,1);
}

/* Maybe is not used
.modal {
    background-color:#fff;
    display:none;
    width:350px;
    padding:15px;
    text-align:left;
    border:2px solid #333;
    opacity:0.9;
    filter: alpha(opacity=9);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=9);
    border-radius:6px;
    -webkit-border-radius:6px;
    box-shadow: 0 0 50px rgba(0,0,0,.24);
    -webkit-box-shadow: 0 0 50px #ccc;
}
*/
/*
.modal h2 {
    //background:url('img/info.png') 0 50% no-repeat;
    margin:0px;
    padding:10px 0 10px 45px;
    border-bottom:1px solid #333;
    font-size:1.6em;
}
*/

.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}
.notice {
    color:red;
    font-size:0.8rem;
}
.helptext {
    padding-top:30px;
    font-size:1rem;
    line-height:160%;
    max-width:650px;
    text-align:justify;
}
/* sticky message boxes */
.expandTextarea {
    height:1.8em;
}
.bubby {
    padding: 0px 4px 10px 10px;
    background-color: #F4FCF0;
    border-top: 1px dashed gray;
    border-right: 1px dashed gray;
    border-left: 1px dashed gray;
    display:none;
    height:auto;
}
.message {
    display:none;
}
.lm {
    margin-left: 0px;
    padding-left: 3px;
    list-style:none;
    position:relative;
}
.lm .obm_label {
    font-weight:bold;
    display:inline-block;
    width:180px;
    color: #646464;
}
.lmh {
    margin-left: 0px;
    padding-left: 3px;
    list-style:none;
    position:relative;
}
.lmh .obm_label {
    font-weight:bold;
    display:inline-block;
    width:180px;
    color: orange;
}
#error {
    font-weight:bold;
    color:red;
    padding-top:30px;
}
#matrix {
    margin-left:20px;
    margin-bottom:4px;
    font-size:0.9rem;
}
#matrix .mtitle {
    font-weight:bold;
    color:#a2ce5d !important;
    font-size:1.1rem;
    margin-bottom:20px;
    display:block;
    margin-left:-10px;
    text-decoration:underline;
}
/*.mtitle a {
    color:#a2ce5d !important;
}*/
.mtitle a:hover {
    color: #688e2b;
    text-decoration:underline;
    cursor: pointer;
}
.options-box {
    padding-bottom:20px;
}
.data_block {
    color:#674539;
    padding:2px;
    /*margin:10px 4px 4px -10px;*/
    width:100%;
    /*border-bottom: 1px dotted #cacaca;*/
}
.rs_hb {
    padding:5px 5px 5px 5px;
    color:white;
    font-weight:bold;
    width:150px;
    cursor:pointer;
    vertical-align:top;
}
.rs_hbs {
    background-color:#42b8dd !important;
}

.rs_hbd {
    display:none;
}
/*
 *
 * language selector menu */
.langsel {
    list-style:none;
    margin:0;
    padding:0;
    padding-top:1em;
    padding-bottom:1em;
    text-align: right;
}
.langsel li {
    margin:0;
    padding:0;
    padding-left:1.5em;
    padding-right:1.5em;
}
.langsel li:hover {
    background-color: #c3c3c3;
}
#current_page:hover {
    color:#5C2BBA;
}
#current_page {
    cursor:pointer;
    display:table-cell;
    width:150px;
    color: #5F65C2;
    background-color: transparent;
    text-decoration:none;
}
#current_menu {
    display:none;
    position:absolute;
    border-left: 1px dotted #a6a6a6;
    border-right: 1px dotted #a6a6a6;
    border-bottom: 1px dotted #a6a6a6;
    background-color:white;
    margin-top:4px;
}

/* project admin*/
.be {
    padding-left:15px;
    padding-bottom:40px;
}
.def-hidden {
    display:none !important;
}
.text-success {
    color: #b8e356;
}
.text-error {
    color: rgb(202, 60, 60); /* this is a maroon */
}
.text-warning {
    color: rgb(223, 117, 20); /* this is an orange */
}
.text-secondary {
    color: rgb(66, 184, 221); /* this is a light blue */
}
#tabs {
    /*height:40px;*/
}
#tab_basic {
    font-size:90%;
}
.pure-menu-selected {
    background-color:rgb(66, 184, 221);
    color:#fff;
}
.gpx {
    vertical-align:top;
}
.redbg {
    background-color:#FFDCDC !important;
}
.greenbg {
    background-color:#DCFFE1 !important;
}
.graybg {
    background-color:#DCDCDC !important;
}
#new_proj_messages {
    display:none;
    background-color:white;
    border:1px solid gray;
    border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 0 0 10px rgba(0,0,0,.24);
    -webkit-box-shadow: 0 0 10px #ccc;
    position: fixed;
    z-index:2;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding:20px;
    overflow:auto;
}
.specmod {
    border-spacing:2px;
    border-collapse:separate !important;
}
.specmod th {
    background-color:#dedddd;
    padding:2px;
    text-align:center;
    font-size:1.1rem;
    font-weight:bold;
}
.specmod td {
    padding-left:10px;
    padding-right:10px;
    vertical-align:top;
}
#bufferslide {
    width:10em;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
#tsellist {
    font-weight:normal;
    font-style:italic;
    min-height: 24px;
}
.table {
    display:table;
    border-collapse: separate;
    border-spacing: 2px;
}
.table div {
    display: table-cell;
    padding-right:10px;
}
.resultstable {}

.resultstable tr:hover, .resultstable .tbl-row:hover {background: aliceblue}

.resultstable th, .resultstable .tbl-h {
    background-color:#acacac;
    color:white;
    padding:2px;
    font-size:0.8rem;
    border-bottom:1px dotted #b7c0b5;
    /*border-left:1px dotted #b7c0b5;*/
    font-weight:bold;
}
.resultstable td, .resultstable .tbl-cell {
    padding:2px;
    font-size:0.7rem;
    border-bottom:1px dotted #b7c0b5;
}
.resultstable div.scrollable {
    overflow: auto;
    width: 140px;
    height: 4em;
    white-space:nowrap;
}
.pure-form select {
    height: initial; /* overwrite pure's 2.25em */
}
.warningspecies {
    background-color:#FFD7D7;
}
.warningspecies:hover {
    background-color:#FF5353;
}
/*disable year title on datepicker */
.NoYearDatePicker .ui-datepicker-year
{
    display:none;
}
.citelist-toggle {
    cursor:pointer;
}
.filemanager {
    background-color:#dadada;
    border-collapse: separate;
    border-spacing:0px 1px;
}
.filemanager .tbl-cell {
    padding:2px 4px 2px 4px;
    vertical-align:top;
}
.filemanager .comment {
    background-color: #eeeeee;
    min-height: 32px;
    padding:2px;
    border:1px solid #dddddd;
    border-radius: 3px;
}
.filemanager .data_link,.table_link {
    background-color: #eeeeee;
    min-height: 32px;
    padding:2px;
    border:1px solid #dddddd;
    border-radius: 3px;
}
.sevencov {
    position: relative;
    width: 61.333%;
    top: 6px;
    overflow: auto;
    height:600px;
}
.goptchoice {
    max-width:300px;
}
.hidden {
    display: none;
}
label{
  display: block;
  position: relative;
}
/* faq references */
.faq {
    font-family: monospace;
    color: #999999 !important;
}
.faq:hover {
    color: #666666 !important;
}
.faq a:link {
    vertical-align:middle;
}
.faq-light {
    font-family: monospace;
    color: #ddd !important;
}
.faq-light:hover {
    color: #333 !important;
}
.faq-light a:link {
    vertical-align:middle;
}

/*admin page tables*/
.admintable {}

.admintable tr:hover, .admintable .tbl-row:hover {background: aliceblue}

.admintable th, .admintable .tbl-h {
    background-color:#acacac;
    color:white;
    padding:2px;
    font-size:0.8rem;
    font-weight:bold;
    /*border-bottom:1px dotted #b7c0b5;
    border-left:1px dotted #b7c0b5;*/
}
.admintable td, .admintable .tbl-cell {
    /**background-color:#fff;**/
    padding:2px;
    font-size:0.8rem;
    border-bottom:1px dotted #b7c0b5;
    /*border-left:1px dotted #b7c0b5;*/
}
.admintable div.scrollable {
    overflow: auto;
    width: 140px;
    height: 4em;
    white-space:nowrap;
}
.admintable>tbody>tr:last-child { background:#B9DCE6 !important; }
.magnify:focus {
    font-size:1.5rem;
    resize:both;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tbl { display:table; }
.tbl-row { display:table-row; }
.tbl-cell { display:table-cell; }
.tbl-h { display:table-cell; }


#new-terms-agree-div {
    height: 100vh;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    -moz-box-direction: normal;
    -moz-box-orient: horizontal;
    flex-direction: row;
    z-index: 10001;
    position: absolute;
    min-width: 0px;
    min-height: 0px;
    flex-basis: auto !important;
    flex-shrink: 0 !important;
    display: flex;
    box-sizing: border-box;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.77);
}

#new-terms-container {
    /*
    min-width: 600px;
    max-width: 80vw;
    font-size: 1.5rem;
     */
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
    flex-shrink: 1 !important;
    position: relative;
    border-radius: 0.35rem;
    padding:1.325rem;
    background-color:white;
}

.terms-cancel {
    float: right;
}

#private-policy-info {
    text-align:center;
    padding:20px;
    font-size:1.5rem;
    margin-bottom: 1em;
}
#new-terms-buttons {
    margin-top:30px;
    text-align:center
}

.terms-text {
    display: none;
    overflow-y: scroll;
    max-height: 40vh;
    margin: 20px 0;
    background-color: #e1efe6;
    padding: 1em;
    font-family: 'courier';
}
.preformatted_text {
    text-align:left;
    max-width:50em;
/*  white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word; 
*/    
}
.left-padding {
    padding-left:1em
}

.container {
    margin: 0 20px;
}

.red-border {
    border-color: red;
}

#mapfilters .search-badge {
/*    display: inline-block;
    background: #e6e6e6;
    border-radius: 14px;
    padding: 7px;*/
    margin: 3px;
    cursor: default;
}

#mapfilters .search-badge span {
    display: inline-block;
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin-left: 10px;
    border: 1px solid #eee;
    background-color: white;
    border-radius: 50%;
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}

/* bugreport system
 * */
#bugreport {
    z-index:100;position:fixed;float:right;bottom:2em;right:-40px;width:70px;height:51px;border-top-left-radius:20px;border-bottom-left-radius:20px;border:1px solid gray;
    background-size:cover;cursor:pointer;padding:5px;
    border-right:none;background-repeat: no-repeat;
}
#bugreport:hover {
   box-shadow:         0px 0px 6px rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
   right:0;
}
#bugreport-box {
z-index:1001;position:fixed;float:right;bottom:2em;right:1em;min-width:30em;min-height:30em;border-radius:5px;border:2px solid rgb(223, 117, 20);background-color:#aaa;display:none;
}
.fixed {
    position:fixed;
    width:90%;
    opacity:0.9;
}
.message {
    display: none;
    border: 1px solid gray;
    border-radius: 5px;
    height: 2em;
    line-height: 2em;
    margin: 10px 50px;
    font-size: 1rem;
    text-align: center;
}
.message-success {
    background: #d4edda;
}
.message-error {
    background: #f8d7da;
}
.message-warning {
    background: #ffcc99;
}

.identify_point_record {
    border-bottom:1px solid gray;
    padding-left:5px;
    margin:5px 0 5px 0;
}
.identify_point_record .photolink {
    float: right;
}
#header-unread-envelope > span {
    color: var(--primary-color);
}

#profile-unread-notification {
    background-color: var(--primary-color);
    margin:10px 0 10px 0; 
    padding:10px;
}

#profile-unread-notification a {
    color:white;
    font-weight:bold;
}

.unread_messages_badge {
  padding: 1px 9px 2px;
  height: 100%;
  font-size: 0.7rem;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: var(--primary-color);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  margin: auto 5px;
}
/*owerride fSelect css in messanger inbox*/
#pm-form .fs-wrap {
    width: 70%;
}
#pm-form .fs-wrap .fs-dropdown .fs-search input {
    width: 100%;
}
#request-invitation,
.use-registration-code {
    margin: 30px;
    font-size: 1.5rem;
    max-width: 800px;
}
.use-registration-code label {
    width:130px;
    display:block;
}
.use-registration-code input[name="invcode"] {
    font-family: Consolas, Lucida Console, monospace;
}
.captcha-div {
    display: flex;
    align-content: center;
}
#captcha-img {
    margin-right: 20px;
}
#taxonlist-tables {
    display: flex;
}
#taxonlist-tables .tbl {
    margin: 20px 0 0 30px;
}

.ui-menu {
    z-index:9000;
}

.json-view .renderjson {
    margin:0;
}
 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider input switch */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

/*.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}*/

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}

/* *
 * Responsive styling
 * */
@import url("responsive.css");


