/*  evaluate buttons */

/* your opinion - ok + buttons' band 
 * profile.php*/
.yoband {
    display:none;
}
/* evaluation output
 * evaluation.php */
.accepted {
    color:green;
}
.refused {
    color:red;
}
/* user's evaluate color 
 * profile.php */
.warning {
    color:red;
}
.swarning {
    color:red;
    font-weight:bold !important;
}
.sswarning {
    background-color:red;
}

