<style>
@page { sheet-size: A4-L; }
</style>
{{> documents/docheader}}
{{#data}}
    <table style="overflow: wrap" class="pure-table pure-table-striped">
        <thead>
            <tr>
                {{#collabels}}
                    <th>{{.}}</th>
                {{/collabels}}
            </tr>
        </thead>
        <tbody>
            {{#observations}}
                <tr>
                    {{#row}}
                        {{#id}}
                            <td><a href="{{docheader.url}}/data/{{mtable}}/{{val}}" target="_blank">{{val}}</a></td>
                        {{/id}}
                        {{#photo}}
                            <td>{{{val}}}</td>
                        {{/photo}}
                        {{#geom}}
                            <td><a href="{{docheader.url}}/geomtest/?showonly&wkt={{val}}&srid=4326" target="_blank">{{val}}</a></td>
                        {{/geom}}
                        {{#simple}}
                            <td>{{val}}</td>
                        {{/simple}}
                    {{/row}}
                </tr>
            {{/observations}}
        </tbody>
    </table>
{{/data}}
{{> documents/docfooter}}

