{{#print_box}}
<style>
    #shared_geom_id {
        width: auto;
        vertical-align: top;
        max-width: 400px;
    }

    #shared-geom-settings-btn {
        margin-left: 10px;
    }

    #shared-geom-settings {
        display: none;
    }

    #shared-geom-settings-box h6 {
        color: #555555 !important;
        font-size: 0.8rem !important;
        margin-bottom: 5px !important;
    }

    #spatial_relationship_options {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    #spatial_relationship_options label {
        display: inline-block;
    }

    #spatial_function {
        width: auto;
    }

    #spatial_buffer {
        display: flex;
        margin: 0 10px 0 0;
    }
    #spatial_buffer input {
        width: 100px;
    }
    #spatial_buffer_slider {
        margin: 10px 20px;
        width: 100%;
    }
</style>
<table class="mapfb">
    <tbody>
        <tr>
            <td colspan="2" class="title center">{{t.str_load_selections}}</td>
        </tr>
        <tr>
            <td colspan="2" class="content">
                <div>
                    <select id='shared_geom_id'>
                        <option></option>
                        {{#polygons}}
                        <option value='{{value}}'>{{label}}</option>
                        {{/polygons}}
                    </select>
                    <span id='shared-geom-settings-btn' class='pure-button button-href'>
                        <i class='fa fa-cog fa-lg'></i>
                    </span>
                </div>
                <div id='shared-geom-settings'>
                    <div id='shared-geom-settings-box'>
                        <h6>{{t.str_spatial_relationship}}</h6>
                        <div id="spatial_relationship_options">
                            {{#spatial_relationship_options}}
                                <input type="checkbox" id="spatial_function_{{value}}" name="spatial_function[]" value='{{value}}' {{selected}}>
                                <label for="spatial_function_{{value}}"> {{label}}</label><br>
                            {{/spatial_relationship_options}}
                        </div>
                        <h6>{{t.str_shared_geom_buffer}}</h6>
                        <div id="spatial_buffer">
                            <input id="spatial_buffer_input" type="number">
                            <div id="spatial_buffer_slider"></div>
                            <button id="set_buffer" class="pure-button button-href"><i class="fa fa-check fa-lg"></i></button>
                        </div>
                        
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
{{/print_box}}